---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="お問い合わせ">
    <section class="p-mv">
      <div class="p-mv__inner">
        <h2 class="">お問い合わせ</h2>
        <img src="/assets/img/common/noimage.png" alt="">
      </div>
    </section>
    <section class="">
      <div class="l-inner">
      
      </div>
    </section>

</Layout>