---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="会社概要：ギットハブアクション確認用">
    <section class="p-mv">
      <div class="p-mv__inner">
        <h2 class="">会社概要</h2>
        <img src="/assets/img/common/noimage.png" alt="">
      </div>
    </section>
    <section class="">
      <div class="l-inner">
      
      </div>
    </section>
</Layout>