@use "../../global/index" as *;

/* -------------------------------------
        c-pagination
-----------------------------------------*/
.c-pagination {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    a, span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 1px solid $main-color;
      background-color: #fff;
      border-radius: 4px;
      color: $main-color;
      font-size: 1.4rem;
      margin: 0 3px;
      @include mq(md) {
        width: 32px;
        height: 32px;
        font-size: 1.1rem;
        margin: 0 5px;
      }
    }
  }

  .current {
    background-color: $main-color;
    color: #fff;
  }

  .prev a, .next a {
    border: none;
    width: 20px;
    @include mq(md) {      
      width: 10px;
    }
  }

  .prev a {
    transform: translateX(-8px);
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 16px;      
      background: transparent url(../img/icon/icon_arrow-left.svg) no-repeat center center/contain;
      margin-right: 3px;
    }
  }
  
  .next a {
    transform: translateX(10px);
    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 16px;      
      background: transparent url(../img/icon/icon_arrow-right.svg) no-repeat center center/contain;
      margin-left: 3px;
    }
  }


}