---
export async function getStaticPaths(){
  const allPosts = await Astro.glob('../blog/*.md');
  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: {posts:filteredPosts},
    }
  })
}

const { tag } = Astro.params;
const filteredPosts = Astro.props.posts;
---

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!-- meta情報 -->
  <title>タグ詳細</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- ogp -->
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <!-- ファビコン -->
  <link rel="shortcut icon" type="image/x-icon" href="">
  <script>console.log("")</script>
</head>

<body>
  <header id="header" class="l-header js-header">
    <p>ヘッダー</p>

  </header>
  <main class="l-main">
    <section>
      <h1 class="">タグ のブログ一覧</h1>
      <ul>
        {filteredPosts.map((post) =>
        <li><a href={post.url}>{post.frontmatter.title}</a></li>
        )}
      </ul>
    </section>
  </main>
  <!-- footer -->
  <footer class="l-footer">
    <div class="l-inner">
      <p class="l-footer__copyright">© xxxxxxxxxx<span id="current-year"></span>. All Rights Reserved.</p>
    </div>
  </footer>
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script defer src="/assets/js/common.js"></script>
</body>

</html>
