---
import '../../public/assets/css/style.css';
const nav = [
  {
    href: 'about',
    label: '会社情報'
  },
  {
    href: 'about/contact',
    label: 'お問い合わせ'
  },
]
---

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!-- meta情報 -->
  <title>トップページ(json)</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- ogp -->
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <!-- ファビコン -->
  <link rel="shortcut icon" type="image/x-icon" href="">
  <!-- fontawesome -->
  <!-- <script src="https://kit.fontawesome.com/39d42e1acb.js" crossorigin="anonymous"></script> -->
  <!-- Googleフォント -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet"> -->
  <!-- css -->
  <!-- <link rel="stylesheet" href="./assets/js/swiper/bundle.min.css">
  <link rel="stylesheet" href="/assets/css/style.css"> -->
  <script>console.log("")</script>
</head>

<body>
  <header id="header" class="l-header js-header">
    <div class="l-header__inner">
      <!-- ロゴ -->
      <div class="l-header__logo">
        <a href="/">
          <span class="l-header__logo-main">
            <img class="l-header__logo-img" src="/assets/img/common/logo.svg" alt="ロゴ" width="213" height="36">
          </span>
        </a>
      </div>
      <!-- ヘッダーナビ -->
      <div class="l-header__container">
        <nav class="p-header-nav">
          <ul class="p-header-nav__list">
            <li class="p-header-nav__item">
              <a class="p-header-nav__link" href="/">Top</a>
            </li>
            <li class="p-header-nav__item">
              <a class="p-header-nav__link" href="/about.html">テキスト</a>
            </li>
            <li class="p-header-nav__item">
              <a class="p-header-nav__link" href="/about.html">テキスト</a>
            </li>
            <li class="p-header-nav__item">
              <a class="p-header-nav__link" href="/about.html">テキスト</a>
            </li>
            <li class="p-header-nav__item">
              <a class="p-header-nav__link" href="/about.html">テキスト</a>
            </li>
            <li class="p-header-nav__item">
              <a class="p-header-nav__link" href="/contact.html">テキスト</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- ハンバーガーメニュー -->
      <button class="c-hamburger-btn js-header-btn" aria-label="メニューボタン" aria-expanded="false">
        <span class="c-hamburger-btn__inner">
          <span class="c-hamburger-btn__line"></span>
          <span class="c-hamburger-btn__line"></span>
          <span class="c-hamburger-btn__line"></span>
        </span>
      </button>
    </div>
  
    <!-- ハンバーガーメニュー内ナビ -->
    <nav class="p-sub-nav" aria-hidden="true">
      <div class="l-inner p-sub-nav__inner">
        <ul class="p-sub-nav__list">
          <li class="p-sub-nav__item">
            <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/">Top</a></p>
          </li>
          <li class="p-sub-nav__item">
            <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
          </li>
          <li class="p-sub-nav__item">
            <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
          </li>
          <li class="p-sub-nav__item">
            <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
          </li>
          <li class="p-sub-nav__item">
            <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
          </li>
          <li class="p-sub-nav__item">
            <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/contact.html">テキスト</a></p>
          </li>
        </ul>
  
      </div>
    </nav>
  </header>
  <main class="l-main">
    <section>      
      <ul>
        {nav.map((nav_item) =>
          <li><a href={nav_item.href}>{nav_item.label}のリンク</a></li>
        )}
      </ul>
    </section>
  </main>
  <!-- footer -->
  <footer class="l-footer">
    <div class="l-inner">
      <p class="l-footer__copyright">© xxxxxxxxxx<span id="current-year"></span>. All Rights Reserved.</p>
    </div>
  </footer>
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script defer src="/assets/js/common.js"></script>
</body>

</html>


