---
import Layout from '../layouts/Layout.astro';
import { getBlogs } from '../library/microcms'
// const response = await getBlogs({ fields:["id", "title", "thumbnail"] })
const response = await getBlogs({
  limit: 5
});
---

<Layout>
  <section class="">
    <div class="l-inner">
  <h2 class="">テスタイトル</h2>
  <ul class="l-grid l-grid--col3">
    {response.contents.map(content => (
      <li class="c-card l-grid__item"><a href={`/blog/${content.id}`}>
        <div class="c-card__img">
        {content.thumbnail?.url && (
          <img 
            src={content.thumbnail.url} 
            alt={content.title} 
            width={150} 
            height={100} 
          />
        )}
        </div>
        <p class="c-card__title">{content.title}</p>
        {content.category && content.category.length > 0 && (
          <ul class="c-card__cate-wrap">
            {content.category.map((cat) => (
              <li class="c-card__cate">{cat["cate-name"]}</li>
            ))}
          </ul>
        )}

        </a></li>
    ))}

  </ul>

  <a href="/blog/page/1" class="c-btn" style="margin-top: 40px;">一覧へ</a>
</div>
</section>
</Layout>