---
import { getBlogs } from '../library/microcms'
const response = await getBlogs({ fields:["id", "title", "thumbnail"] })
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ブログ</title>
</head>
<body>
  <h2 class="">テストタイトル</h2>
  <ul>
    {response.contents.map(content => (
      <li><a href={content.id}>
        <div class="c-card-thumb">
        {content.thumbnail?.url && (
          <img 
            src={content.thumbnail.url} 
            alt={content.title} 
            width={150} 
            height={100} 
          />
        )}
        </div>
        <p class="c-card-title">{content.title}</p>
        </a></li>
    ))}
  </ul>
</body>
</html>