---
import { getBlogs } from '../library/microcms'
// const response = await getBlogs({ fields:["id", "title", "thumbnail"] })
const response = await getBlogs({
  limit: 5
});
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ブログ</title>
</head>
<body>
  <h2 class="">テストタイトル</h2>
  <ul>
    {response.contents.map(content => (
      <li><a href={content.id}>
        <div class="c-card__img">
        {content.thumbnail?.url && (
          <img 
            src={content.thumbnail.url} 
            alt={content.title} 
            width={150} 
            height={100} 
          />
        )}
        </div>
        <p class="c-card__title">{content.title}</p>
        {content.category && content.category.length > 0 && (
          <ul class="c-card__cate-wrap">
            {content.category.map((cat) => (
              <li class="c-card__">{cat["cate-name"]}</li>
            ))}
          </ul>
        )}

        </a></li>
    ))}

  </ul>
</body>
</html>