---
const nav = [
  {
    href: '/',
    label: 'ホーム'
  },
  {
    href: '/company',
    label: '会社情報'
  },
  {
    href: '/contact',
    label: 'お問い合わせ'
  },
];

const active = '/company';
---

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <!-- meta情報 -->
  <title>トップページ</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- ogp -->
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <!-- ファビコン -->
  <link rel="shortcut icon" type="image/x-icon" href="">
  <script>console.log("")</script>
</head>

<body>
  <header id="header" class="l-header js-header">
    <p>ヘッダー</p>
    <nav>
      <ul>
        {nav.map((nav_item) =>
          <li class:list={[(nav_item.href === active && 'is-active')]}><a href={nav_item.href}>{nav_item.label}</a></li>
        )}
      </ul>
    </nav>

  </header>
  <main class="l-main">

  </main>
  <!-- footer -->
  <footer class="l-footer">
    <div class="l-inner">
      <p class="l-footer__copyright">© xxxxxxxxxx<span id="current-year"></span>. All Rights Reserved.</p>
    </div>
  </footer>
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script defer src="/assets/js/common.js"></script>
</body>

</html>


<style lang="scss">
  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 1rem;
        &.is-active {
          background-color: #000;
          
            a {
              color: #fff;
            }
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #000;
          padding: 3px 5px;
        }


      }
    }
  }
</style>