@charset "UTF-8";

/* -------------------------------------
    設定
-----------------------------------------*/

//==========================================================================
// Foundation
// ==========================================================================
@use "./foundation/reset";
@use "./foundation/inner";
@use "./foundation/mixin";

//==========================================================================
// Global
// ==========================================================================
@use "./global/base";
@use "./global/breakpoints";
@use "./global/variable";

//==========================================================================
// Layout
// ==========================================================================
@use "./layout/l-header";
@use "./layout/l-footer";
@use "./layout/l-breadcrumb";
@use "./layout/l-section";
@use "./layout/l-main";
@use "./layout/l-grid";


//==========================================================================
// Object
// ==========================================================================
// Component
@use "./object/component/c-accordion";
@use "./object/component/c-page-top";
@use "./object/component/c-primary-title";
@use "./object/component/c-pagination";
@use "./object/component/c-secondary-title";
@use "./object/component/c-card";
@use "./object/component/c-btn";
@use "./object/component/c-icon-btn";


// Project
@use "./object/project/top/p-mv";



// Utility
@use "./object/utility/utility";
@use "./object/utility/fade";

