<header id="header" class="l-header js-header">
  <div class="l-header__inner">
    <!-- ロゴ -->
    <div class="l-header__logo">
      <a href="/">
        <span class="l-header__logo-main">
          <img class="l-header__logo-img" src="/assets/img/common/logo.svg" alt="ロゴ" width="213" height="36">
        </span>
      </a>
    </div>
    <!-- ヘッダーナビ -->
    <div class="l-header__container">
      <nav class="p-header-nav">
        <ul class="p-header-nav__list">
          <li class="p-header-nav__item">
            <a class="p-header-nav__link" href="/">Top</a>
          </li>
          <li class="p-header-nav__item">
            <a class="p-header-nav__link" href="/about.html">テキスト</a>
          </li>
          <li class="p-header-nav__item">
            <a class="p-header-nav__link" href="/about.html">テキスト</a>
          </li>
          <li class="p-header-nav__item">
            <a class="p-header-nav__link" href="/about.html">テキスト</a>
          </li>
          <li class="p-header-nav__item">
            <a class="p-header-nav__link" href="/about.html">テキスト</a>
          </li>
          <li class="p-header-nav__item">
            <a class="p-header-nav__link" href="/contact.html">テキスト</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- ハンバーガーメニュー -->
    <button class="c-hamburger-btn js-header-btn" aria-label="メニューボタン" aria-expanded="false">
      <span class="c-hamburger-btn__inner">
        <span class="c-hamburger-btn__line"></span>
        <span class="c-hamburger-btn__line"></span>
        <span class="c-hamburger-btn__line"></span>
      </span>
    </button>
  </div>

  <!-- ハンバーガーメニュー内ナビ -->
  <nav class="p-sub-nav" aria-hidden="true">
    <div class="l-inner p-sub-nav__inner">
      <ul class="p-sub-nav__list">
        <li class="p-sub-nav__item">
          <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/">Top</a></p>
        </li>
        <li class="p-sub-nav__item">
          <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
        </li>
        <li class="p-sub-nav__item">
          <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
        </li>
        <li class="p-sub-nav__item">
          <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
        </li>
        <li class="p-sub-nav__item">
          <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/about.html">テキスト</a></p>
        </li>
        <li class="p-sub-nav__item">
          <p class="p-sub-nav__title"><a class="p-sub-nav__link" href="/contact.html">テキスト</a></p>
        </li>
      </ul>

    </div>
  </nav>
</header>