@use "../../../global/index" as *;

/* -------------------------------------
        p-mv
-----------------------------------------*/
.p-mv{
  position: relative;
  margin-top: 122px;
  padding: 12px 0 35px;
  z-index: 10;
  @include mq(md) {
    padding: 0;
    margin-top: 60px;
  }

  &__inner {
    position: relative;
    // max-width: 1590px;
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;
    @media screen and (min-width: 1601px){
      width: 90%;
    }
    @include mq(xxl) {
      padding: 0 60px;
    }
    @include mq(md) {
      padding: 0 20px;
    }

    // &::before {
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   bottom: -90px;
    //   left: 20px;
    //   width: 183px;
    //   height: 204px;
    //   background-image: url(../images/common/mv_bg01.svg);
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   z-index: 10;
    //   @include mq(xxl) {
    //     bottom: -110px;
    //     width: 12vw;
    //   }
    //   @include mq(md) {
    //     bottom: -20px;
    //     left: 10px;
    //     width: 15.2vw;
    //   }
    //   @include mq(sm) {
    //     bottom: -58px;
    //   }
    // }
  }

  &__bg-left {
    position: absolute;
    bottom: -50px;
    left: 20px;
    width: 183px;
    // height: 204px;
    z-index: 10;
    @include mq(xxl) {
      bottom: -40px;
      left: 20px;
      width: 12vw;
    }
    @include mq(md) {
      bottom: 65px;
      left: 4px;
      width: 18vw;
    }
    @include mq(sm) {
      bottom: 70px;
      width: 20vw;
    }
  }

  &__bg-right {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 160px;
    height: 204px;
    z-index: 10;
  }
  @media screen and (max-width: 1400px) {
    .p-mv__bg-right {
      top: 50px;
      width: 12vw;
    }
  }
  @media screen and (max-width: 767px) {
    .p-mv__bg-right {
      top: 30px;
      right: -20px;
      width: 16vw;
    }
  }
  @media screen and (max-width: 500px) {
    .p-mv__bg-right {
      top: 30px;
      width: 20vw;
    }
  }

  .swiper-container {    
    position: relative;
  }

  .swiper-wrapper {
    border-radius: 80px;
    overflow: hidden;
    @include mq(lg) {
      border-radius: 30px;
    }

    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    bottom: -36px;
    line-height: 1;
    @include mq(md) {
      bottom: -19px;
    }
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #B6A07C;
    opacity: 1;
    margin-left: 9px!important;
    margin-right: 9px!important;
    @include mq(md) {
      width: 9px;
      height: 9px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $main-color;
  }

  &__cach {
    position: absolute;
    top: 26%;    
    left: 50px;
    max-width: 508px;
    width: 100%;
    z-index: 10;
    @include mq(xxl) {
      top: 10.05vw;
      left: 14px;
      width: 38vw;
    }
    @include mq(md) {
      width: 50vw;
      top: 8vw;
      left: 10px;
    }
    @include mq(sm) {
      max-width: 250px;
      width: 58vw;
    }
  }

  &__info {
    position: absolute;
    bottom: 76px;
    right: 40px;
    max-width: 250px;
    width: 100%;
    z-index: 20;
    @include mq(xxl) {
      right: 20px;
      bottom: 4vw;
    }
    @include mq(lg) {
      max-width: 200px;
    }
    @include mq(md) {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: none;
      bottom: auto;
      right: auto;
      margin-top: 40px;
    }
  }

  &__info-item {
    max-width: 250px;
    width: 100%;

    &:not(:first-child) {
      margin-top: 20px;
      @include mq(lg) {
        margin-top: 10px;
      }
      @include mq(md) {
        margin-top: 0;
        margin-left: 10px;
      }
      @include mq(xxs) {
        margin-left: 5px;
      }
    }
  }
}